body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100%;
    left: 10px;
    top: 20px;
    width: 250px; 
    position: fixed;
    background-color: #fffffd;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


.navbar img {
    width: 80%;
    height: auto;
    display: block;
}

.navbar-header p {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #aaa4a4;
    padding-left: 30px;
    padding-right: 40px;
}

.navbar-menu {
    list-style-type: none;
    padding-left: 20px;
    margin-left: 500;
    margin-right: 0;
    /* text-align: center; */
}

.navbar-menu li {
    margin-bottom: 10px;
}

.navbar-menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.navbar-menu a:hover {
    color: #007BFF;
}

.content {
    margin-left: 250px; 
    padding: 20px;
    display: none; /* Hide by default */
}

#about-content h1 {
    display: block; 
    font-size: 40px;
}

#about-content p {
    display: block; 
    font-size: 10px;
}       